---
http_interactions:
- request:
    method: get
    uri: https://www.bloomberg.com/quote/USDCOP:CUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"46784-I927vmo+w+zvHq9MjMAEmi2+Yk0"
      Fastly-Restarts:
      - '1'
    body:
      encoding: UTF-8
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n        \n            <title>USD
        to COP Exchange Rate - Bloomberg Markets</title>\n            <meta name=\"title\"
        content=\"USD to COP Exchange Rate\">\n        \n        \n            <script
        type=\"application/ld+json\">{\"@context\":\"http://schema.org\",\"@type\":\"WebPage\",\"headline\":\"USD
        to COP Exchange Rate\",\"description\":\"Current exchange rate US DOLLAR (USD)
        to COLOMBIAN PESO (COP) including currency converter, buying & selling rate
        and historical conversion chart.\",\"keywords\":\"US DOLLAR, USD, COLOMBIAN
        PESO, COP, conversion chart, US DOLLAR exchange rate, COLOMBIAN PESO exchange
        rate, US DOLLAR, USD, US DOLLAR buying, USD buying, US DOLLAR selling, USD
        selling, US DOLLAR asking price, USD asking price, COLOMBIAN PESO, COP, COLOMBIAN
        PESO buying, COP buying, COLOMBIAN PESO selling, COP selling, COLOMBIAN PESO
        asking price, COP asking price\",\"mainEntityOfPage\":\"https://www.bloomberg.com/quote/USDCOP:CUR\",\"mentions\":[{\"@type\":\"Thing\",\"name\":\"USD-COP
        X-RATE\",\"url\":\"https://www.bloomberg.com/profile/company/USDCOP:CUR\"}],\"publisher\":{\"@type\":\"Organization\",\"name\":\"Bloomberg\",\"url\":\"https://www.bloomberg.com\",\"logo\":{\"@type\":\"ImageObject\",\"url\":\"https://assets.bwbx.io/s3/bbgmkts/images/bloomberg-logo-amp.png\",\"width\":262,\"height\":60}}}</script><script
        type=\"application/ld+json\">{\"@type\":\"Corporation\",\"name\":\"USD-COP
        X-RATE\",\"description\":null,\"address\":null,\"telephone\":null,\"foundingDate\":null,\"url\":null,\"numberOfEmployees\":null,\"employees\":[],\"tickerSymbol\":\"
        USDCOP\"}</script>\n            <meta name=\"description\" content=\"Current
        exchange rate US DOLLAR (USD) to COLOMBIAN PESO (COP) including currency converter,
        buying & selling rate and historical conversion chart.\">\n            <meta
        name=\"keywords\" content=\"US DOLLAR, USD, COLOMBIAN PESO, COP, conversion
        chart, US DOLLAR exchange rate, COLOMBIAN PESO exchange rate, US DOLLAR, USD,
        US DOLLAR buying, USD buying, US DOLLAR selling, USD selling, US DOLLAR asking
        price, USD asking price, COLOMBIAN PESO, COP, COLOMBIAN PESO buying, COP buying,
        COLOMBIAN PESO selling, COP selling, COLOMBIAN PESO asking price, COP asking
        price\">\n            <link rel=\"shortcut icon\" type=\"image/png\" href=\"https://assets.bwbx.io/s3/bbgmkts/images/favicon-black.png\"/>\n
        \           <meta property=\"og:site_name\" content=\"Bloomberg.com\">\n            <meta
        property=\"og:title\" content=\"USD to COP Exchange Rate\">\n            <meta
        property=\"og:description\" content=\"Current exchange rate US DOLLAR (USD)
        to COLOMBIAN PESO (COP) including currency converter, buying & selling rate
        and historical conversion [...]
